<button type="button" class="btn-close" aria-label="Close" (click)="closePopover()"></button>
<form class="event-form" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <input type="text" id="title" formControlName="title" placeholder="Событие">

  <input type="date" id="date" formControlName="date" placeholder="День/месяц/год">

  <input type="text" id="participants" formControlName="participants" placeholder="Имена участников">

  <textarea id="description" formControlName="description" placeholder="Описание"></textarea>

  <div>
    <button type="submit">Готово</button>
    <button (click)="deleteEvent()">Удалить</button>
  </div>
</form>
