<div class="calendar-wrapper">
  <div class="month-wrapper">
    <button (click)="prevMonth()"><</button>
    <h2>{{ currentDate | date: 'MMMM yyyy' : '' : 'ru' | titlecase | transformMonthName}}</h2>
    <button (click)="nextMonth()">></button>
    <button (click)="nextMonth()">Сегодня</button>
  </div>

  <div class="calendar">
    <div class="calendar__grid">
        <app-day-cell *ngFor="let day of daysOnScreen | setWeekDayNames">
          <span class="day">{{ day }}</span>
        </app-day-cell>
    </div>
  </div>
</div>
