<div class="calendar-wrapper">
  <div class="month-wrapper">
    <button
      class="button-normal"
      (click)="prevMonth()">
      ◂
    </button>
    <h2>{{ (currentDate$ | async).toDateString() | date: 'MMMM yyyy' : '' : 'ru' | titlecase | transformMonthName }}</h2>
    <button
      class="button-normal"
      (click)="nextMonth()">
      ▸
    </button>
    <button
      class="button-normal"
      (click)="toCurrent()">
      Сегодня
    </button>
  </div>

  <table>
    <tbody>
      <tr *ngFor="let week of (weeks$ | async); let index = index">
        <td
          *ngFor="let day of week"
          appSelectDay
          [day]="day">

          <app-day-cell
            [weekIndex]="index"
            [day]="day"
            [ngbPopover]="popover"
            [autoClose]="'outside'"
            placement="end"
            triggers="click"
            #popoverInstance="ngbPopover"></app-day-cell>

          <ng-template #popover>
            <app-event-form
              [day]="day"
              [popover]="popoverInstance"></app-event-form>
          </ng-template>

        </td>
      </tr>
    </tbody>
  </table>
</div>
