:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }
}
.calendar-wrapper{
  width: 56rem;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.month-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  .button-normal {
    height: 1.6rem;
    border-radius: 0.3rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  border: 1px solid rgba(235, 235, 235, 100);
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(211, 211, 211);
  &:hover {
    cursor: pointer;
    outline: -1px solid rgba(134, 201, 253, 100);
  }
}
.selected {
  box-shadow: 0 0 0 2px rgba(229, 241, 249, 100);
  border: 2px solid rgba(134, 201, 253, 100);
}
